<div class="login_signup_form_wrapper">
  <div class="container">
    <h1>Sessions#new</h1>
    <p>Find me in app/views/sessions/new.html.erb</p>

    <p id="alert"><%= alert %></p>
    <h1>Login</h1>
    <%= form_tag sessions_path do |form| %>
      <div class="field">
        <%= text_field_tag :username , "", :class => "form-control", :placeholder => "your username"%>
      </div>

      <div class="d-flex justify-content-between row">
        <div class="actions mx-3">
          <%= submit_tag "login", :class => "btn btn-primary"%>
        </div>
        <div class="actions mx-3">
          <%= link_to "Sign Up", signup_url, :class => "btn btn-primary text-light" %>
        </div>
      </div>
    <% end %>
  </div>

</div>
