<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<p id="alert"><%= alert %></p>
<h1>Login</h1>
<%= form_tag sessions_path do |form| %>
  <div class="field">
    <%= label_tag :username %>
    <%= text_field_tag :username %>
  </div>

  <div class="actions">
    <%= submit_tag "login"%>
  </div>
<% end %>