<div class="login_signup_form_wrapper">
  <div class="container">
    <h1>Sessions#new</h1>
    <p>Find me in app/views/sessions/new.html.erb</p>

    <p id="alert"><%= alert %></p>
    <h1>Login</h1>
    <%= form_tag sessions_path do |form| %>
      <div class="field">
        <%= label_tag :username %>
        <%= text_field_tag :username %>
      </div>

      <div class="row">
        <div class="actions mx-3">
          <%= submit_tag "login"%>
        </div>
        <div class="actions mx-3">
          <button><%= link_to "Sign Up", signup_url %></button>
        </div>
      </div>
    <% end %>
  </div>

</div>
