<div class="login_signup_form_wrapper">
  <div class="container">

    <div class="d-flex flex-column align-items-center">
      <i class="fab fa-twitter fa-2x ml-4 text-primary"></i>
      <h1>Login</h1>
    </div>


    <p id="alert"><%= alert %></p>
    <%= form_tag sessions_path do |form| %>
      <div class="field">
        <%= text_field_tag :username , "", :class => "form-control", :placeholder => "your username"%>
      </div>

      <div class="d-flex justify-content-between row">
        <div class="actions mx-3">
          <%= submit_tag "login", :class => "btn btn-primary"%>
        </div>
        <div class="actions mx-3">
          <%= link_to "Sign Up", signup_url, :class => "btn btn-primary text-light" %>
        </div>
      </div>
    <% end %>
  </div>

</div>
