<% @timeline_opinions.each do |opinion| %>
  <div class="container bg-light my-2 d-flex flex-row">
    <div class="pr-3">

<!--            <h4 ><%#= link_to , vote_path({opinion: opinion, voter: current_user }), :class => "text-dark"%> </h4>-->
<!--            <h4 class="text-dark"><%#= opinion.votes.count %> </h4>-->
<!--            <h4 ><%#= link_to content_tag( :i , nil, 'fas fa-arrow-down a-2x'), vote_path({opinion: opinion, voter: current_user }), :class => "text-dark"%> </h4>-->


      <% if @user != current_user %>
        <% route = @user.nil? ? "opinions" : "user_profile" %>
        <h4 ><%= link_to "Up", vote_path({opinion: opinion, voter: current_user, vote_direction: "up", route: route } ), :class => "text-dark"%> </h4>
        <h4 class="text-dark"><%= opinion.votes.count %> </h4>
        <h4 ><%= link_to "Down", vote_path({opinion: opinion, voter: current_user, vote_direction: "down", route: route }), :class => "text-dark"%> </h4>
      <% end %>
    </div>
    <div class="d-flex flex-row align-items-center ">
      <div class="mr-3 flex-shrink-1">
        <%= image_tag opinion.user.photo.url(:thumb) %>
      </div>
      <div class="d-flex flex-column ml-3 w-100">
        <div class="d-flex flex-row justify-content-between">
          <h5><%= link_to opinion.user.fullname, user_path(opinion.user.id), :class => "text-dark"%> </h5>
          <p><%= time_ago_in_words(opinion.created_at) + " ago" %></p>
        </div>
        <div class="d-flex flex-column">
          <p><%= opinion.text %></p>
          <% if current_user.id == opinion.user.id %>
            <div class="d-flex justify-content-end flex-row">
              <p class="mr-2"><%= link_to 'Edit', edit_opinion_path(opinion) %></p>
              <p><%= link_to 'Destroy', opinion, method: :delete, data: { confirm: 'Are you sure?' } %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>
<% end %>
