<p id="notice"><%= notice %></p>

<p>
  <strong>Authorid:</strong>
  <%= @opinion.authorId %>
</p>

<p>
  <strong>Text:</strong>
  <%= @opinion.text %>
</p>

<%= link_to 'Edit', edit_opinion_path(@opinion) %> |
<%= link_to 'Back', opinions_path %>
