<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :fullname %>
    <%= form.text_field :fullname %>
  </div>


  <div class="field">
    <%= form.label :photo %>
    <%= form.file_field :photo %>
  </div>

  <div class="field">
    <%= form.label :cover_image %>
    <%= form.file_field :cover_image %>
  </div>

  <div class="actions d-flex flex-row justify-content-between">
    <%= form.submit :class => "btn btn-primary" %>
    <div class="d-flex align-items-baseline">
      <p class="mr-2">go back to </p>
      <%= link_to "Log In", login_url, :class => "btn btn-primary text-white" %>
    </div>
  </div>


<% end %>
