<div class="text-dark">
  <%= form_with(model: user, local: true) do |form| %>
    <%= display_errors(user) %>


    <div class="d-flex flex-row align-items-baseline field">
      <%= form.label :username %>
      <%= form.text_field :username, :class => "form-control ml-3" %>
    </div>

    <div class="d-flex flex-row align-items-baseline field">
      <%= form.label :fullname %>
      <%= form.text_field :fullname, :class => "form-control ml-3" %>
    </div>


    <div class="d-flex flex-row align-items-baseline field">
      <%= form.label :photo %>
      <%= form.file_field :photo, :class => "form-control ml-3" %>
    </div>

    <div class="d-flex flex-row align-items-baseline field">
      <%= form.label :cover_image %>
      <%= form.file_field :cover_image, :class => "form-control ml-3" %>
    </div>

    <div class="actions d-flex flex-row justify-content-between">
      <%= form.submit :class => "btn btn-primary" %>

      <div class="d-flex align-items-baseline">
        <%= show_login_button(current_user) %>
      </div>

    </div>

  <% end %>

</div>