<div class="container px-0">

  <div class="pt-5 d-flex flex-column align-items-center">
    <div class="d-flex align-items-center flex-column">
      <div class="d-flex flex-row align-items-center">
<!--        <i class="fas fa-plus-circle fa-2x mr-4"></i>-->
        <%= follow_button(@user) %>
        <%= image_tag @user.photo.url(:thumb), :class => "rounded-circle" %>
        <i class="fas fa-cog fa-2x ml-4"></i>
      </div>
      <h3 class="mx-3"><%= @user.fullname %></h3>
      <p class="mx-3">@<%= @user.username %></p>
    </div>

    <div class="d-flex my-3 bottom_border top_border">
      <div class="d-flex flex-column align-items-center just-items-center pl-2 pr-2 ">
        <h4><%= @user.opinions.size %></h4>
        <h5>tweets</h5>
      </div>
      <div class="d-flex flex-column justify-content-center align-items-center pl-2 pr-2 left_border">
        <h4><%= @user.followeds.size %></h4>
        <h5>followed</h5>
      </div>
      <div class="d-flex flex-column justify-content-center align-items-center pl-2 pr-2 left_border">
        <h4><%= @user.followers.size %></h4>
        <h5>followers</h5>
      </div>
    </div>

    <div class="d-flex flex-row align-items-center justify-content-center my-3">
      <h6>FOLLOWED BY</h6>
    </div>

    <div class="d-flex flex-column">
      <% gel_all_followers(@user).each do |user| %>
        <div class=" bg-light my-2">
          <div class="d-flex flex-row align-items-center">
            <div class="pr-2 flex-shrink-1 ">
              <%= image_tag user.photo.url(:thumb), :class => "rounded-circle" %>
            </div>
            <div class="d-flex flex-row justify-content-center align-items-center pl-2 fullname-in-right-sidebar">
              <div class="">
                <h5><%= link_to user.fullname, user_path(user.id), :class => ""%> </h5>
                <p>@<%= user.username %> </p>
              </div>
              <div class="d-flex flex-column">
                <%= follow_button(user) %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>

