<div class="d-flex align-items-center p-3">
  <%= image_tag current_user.photo.url(:thumb) %>
  <h3 class="mx-3 text-muted"><%= current_user.fullname %></h3>
</div>

<div class="d-flex my-3 justify-content-center align-items-center ">
  <div class="d-flex flex-column justify-content-center align-items-center pl-1 pr-4 ">
    <h1 ><%= link_to current_user.followeds.size, users_path(id: current_user.id, flag: "followed_users"), :class => "text-white"%> </h1>
    <p class="text-muted">followed</p>
  </div>
  <div class="d-flex flex-column justify-content-center align-items-center pl-4 pr-1 ">
    <h1 ><%= link_to current_user.followers.size, users_path(id: current_user.id, flag: "followers"), :class => "text-white"%> </h1>
    <p class="text-muted">followers</p>
  </div>
</div>

<div class="d-flex flex-column align-items-center left_sidebar_links">
  <h2 class="my-2"><%= link_to '<i class="fa fa-user mr-3 text-muted"></i> Profile'.html_safe, user_path(current_user) %></h2>
  <h2 class="my-2"><%= link_to '<i class="fa fa-home mr-3 text-muted"></i> Home'.html_safe, opinions_path %></h2>
  <h2 class="mt-5"><%= link_to '<i class="fas fa-sign-out-alt mr-3 text-muted"></i> Logout'.html_safe, logout_url %></h2>
</div>