<!DOCTYPE html>
<html>
  <head>
    <title>RailsTwitterRedesign</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-light">
     <% if current_user %>
     <div class="d-flex text-light all-info">
       <div class="p-3 flex-shrink-1 left_sidebar">
         <%= render 'layouts/left_sidebar' %>
       </div>
       <div class="w-100 d-flex flex-column ">
         <div class="top_navbar d-flex flex-nowrap">
          <%= render 'layouts/top_navbar' %>
         </div>
         <div class="bg-light">
           <%= yield %>
         </div>
       </div>
     </div>
     <% else %>
     <div class="bg-light">
       <%= yield %>
     </div>
     <% end %>
  </body>
</html>
